@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-dusty-taupe-50: oklch(96.26% 0.005 67.76);
  --color-dusty-taupe-100: oklch(92.52% 0.009 62.58);
  --color-dusty-taupe-200: oklch(84.91% 0.019 62.41);
  --color-dusty-taupe-300: oklch(77.15% 0.03 62.19);
  --color-dusty-taupe-400: oklch(69.45% 0.04 64.49);
  --color-dusty-taupe-500: oklch(61.46% 0.054 63.56);
  --color-dusty-taupe-600: oklch(52.36% 0.043 64.06);
  --color-dusty-taupe-700: oklch(42.71% 0.034 61.52);
  --color-dusty-taupe-800: oklch(32.72% 0.024 61.62);
  --color-dusty-taupe-900: oklch(21.88% 0.013 61.84);
  --color-dusty-taupe-950: oklch(18.56% 0.01 67.12);

  --color-toffee-brown-50: oklch(96.31% 0.007 67.74);
  --color-toffee-brown-100: oklch(92.87% 0.015 70.88);
  --color-toffee-brown-200: oklch(85.4% 0.028 67.44);
  --color-toffee-brown-300: oklch(78.08% 0.044 68.25);
  --color-toffee-brown-400: oklch(70.47% 0.06 66.59);
  --color-toffee-brown-500: oklch(62.91% 0.075 66.45);
  --color-toffee-brown-600: oklch(53.56% 0.064 65.77);
  --color-toffee-brown-700: oklch(43.9% 0.05 67.07);
  --color-toffee-brown-800: oklch(33.44% 0.035 66.16);
  --color-toffee-brown-900: oklch(22.46% 0.021 69.76);
  --color-toffee-brown-950: oklch(18.77% 0.015 66.67);

  --color-faded-copper-50: oklch(96.51% 0.007 80.72);
  --color-faded-copper-100: oklch(92.82% 0.013 71.32);
  --color-faded-copper-200: oklch(85.6% 0.029 70.9);
  --color-faded-copper-300: oklch(78.21% 0.043 70.71);
  --color-faded-copper-400: oklch(70.8% 0.059 70.16);
  --color-faded-copper-500: oklch(63.23% 0.073 69.4);
  --color-faded-copper-600: oklch(53.89% 0.062 69.39);
  --color-faded-copper-700: oklch(44.03% 0.048 69.63);
  --color-faded-copper-800: oklch(33.68% 0.035 69.69);
  --color-faded-copper-900: oklch(22.35% 0.018 70.4);
  --color-faded-copper-950: oklch(18.63% 0.014 71.86);

  --color-camel-50: oklch(96.56% 0.009 78.28);
  --color-camel-100: oklch(92.93% 0.017 70.53);
  --color-camel-200: oklch(85.78% 0.034 70.29);
  --color-camel-300: oklch(78.62% 0.053 69.79);
  --color-camel-400: oklch(71.56% 0.071 70.61);
  --color-camel-500: oklch(64.26% 0.088 69.16);
  --color-camel-600: oklch(54.77% 0.074 69.51);
  --color-camel-700: oklch(44.63% 0.059 68.17);
  --color-camel-800: oklch(33.99% 0.041 68.66);
  --color-camel-900: oklch(22.56% 0.023 69.19);
  --color-camel-950: oklch(18.88% 0.018 66.41);

  --color-sandy-clay-50: oklch(96.41% 0.01 67.7);
  --color-sandy-clay-100: oklch(93.09% 0.022 69.78);
  --color-sandy-clay-200: oklch(85.96% 0.044 67.19);
  --color-sandy-clay-300: oklch(79.01% 0.067 67.37);
  --color-sandy-clay-400: oklch(71.91% 0.089 65.6);
  --color-sandy-clay-500: oklch(65.11% 0.11 64.08);
  --color-sandy-clay-600: oklch(55.32% 0.092 63.8);
  --color-sandy-clay-700: oklch(45.29% 0.073 64.82);
  --color-sandy-clay-800: oklch(34.44% 0.053 64.51);
  --color-sandy-clay-900: oklch(22.91% 0.03 67.67);
  --color-sandy-clay-950: oklch(19.11% 0.022 65.89);

  --color-desert-sand-50: oklch(96.65% 0.016 64.67);
  --color-desert-sand-100: oklch(93.05% 0.032 62.82);
  --color-desert-sand-200: oklch(86.27% 0.066 62.27);
  --color-desert-sand-300: oklch(79.81% 0.098 62.15);
  --color-desert-sand-400: oklch(73.46% 0.129 59.79);
  --color-desert-sand-500: oklch(67.68% 0.156 55.23);
  --color-desert-sand-600: oklch(57.46% 0.129 55.85);
  --color-desert-sand-700: oklch(46.91% 0.103 56.61);
  --color-desert-sand-800: oklch(35.53% 0.076 56.58);
  --color-desert-sand-900: oklch(23.22% 0.043 59.08);
  --color-desert-sand-950: oklch(19.37% 0.032 61.81);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: var(--color-dusty-taupe-50);
  --foreground: var(--color-dusty-taupe-950);
  --card: var(--color-dusty-taupe-50);
  --card-foreground: var(--color-dusty-taupe-950);
  --popover: var(--color-dusty-taupe-50);
  --popover-foreground: var(--color-dusty-taupe-950);
  --primary: var(--color-camel-600);
  --primary-foreground: var(--color-dusty-taupe-50);
  --secondary: var(--color-desert-sand-200);
  --secondary-foreground: var(--color-desert-sand-900);
  --muted: var(--color-dusty-taupe-100);
  --muted-foreground: var(--color-dusty-taupe-600);
  --accent: var(--color-sandy-clay-200);
  --accent-foreground: var(--color-sandy-clay-900);
  --destructive: #e53935;
  --border: var(--color-dusty-taupe-200);
  --input: var(--color-dusty-taupe-200);
  --ring: var(--color-camel-600);
  --chart-1: var(--color-camel-500);
  --chart-2: var(--color-faded-copper-500);
  --chart-3: var(--color-toffee-brown-500);
  --chart-4: var(--color-sandy-clay-500);
  --chart-5: var(--color-desert-sand-500);
  --radius: 0.5rem;
  --sidebar: var(--color-dusty-taupe-100);
  --sidebar-foreground: var(--color-dusty-taupe-900);
  --sidebar-primary: var(--color-camel-600);
  --sidebar-primary-foreground: var(--color-dusty-taupe-50);
  --sidebar-accent: var(--color-dusty-taupe-200);
  --sidebar-accent-foreground: var(--color-dusty-taupe-900);
  --sidebar-border: var(--color-dusty-taupe-200);
  --sidebar-ring: var(--color-camel-600);
}

.dark {
  --background: var(--color-dusty-taupe-950);
  --foreground: var(--color-dusty-taupe-50);
  --card: var(--color-dusty-taupe-900);
  --card-foreground: var(--color-dusty-taupe-50);
  --popover: var(--color-dusty-taupe-900);
  --popover-foreground: var(--color-dusty-taupe-50);
  --primary: var(--color-camel-500);
  --primary-foreground: var(--color-dusty-taupe-950);
  --secondary: var(--color-desert-sand-800);
  --secondary-foreground: var(--color-desert-sand-100);
  --muted: var(--color-dusty-taupe-800);
  --muted-foreground: var(--color-dusty-taupe-400);
  --accent: var(--color-sandy-clay-800);
  --accent-foreground: var(--color-sandy-clay-100);
  --destructive: #ef4444;
  --border: var(--color-dusty-taupe-800);
  --input: var(--color-dusty-taupe-800);
  --ring: var(--color-camel-500);
  --chart-1: var(--color-camel-400);
  --chart-2: var(--color-faded-copper-400);
  --chart-3: var(--color-toffee-brown-400);
  --chart-4: var(--color-sandy-clay-400);
  --chart-5: var(--color-desert-sand-400);
  --sidebar: var(--color-dusty-taupe-950);
  --sidebar-foreground: var(--color-dusty-taupe-50);
  --sidebar-primary: var(--color-camel-500);
  --sidebar-primary-foreground: var(--color-dusty-taupe-950);
  --sidebar-accent: var(--color-dusty-taupe-800);
  --sidebar-accent-foreground: var(--color-dusty-taupe-50);
  --sidebar-border: var(--color-dusty-taupe-800);
  --sidebar-ring: var(--color-camel-500);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
